/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

a:hover {
  color: red;
}

#add {
  margin: 0;
}

.ui form,
#updateButton,
#updatebox,
i.massive.icon,
i.massive.icons {
  margin-left: auto;
  margin-right: auto;
}

textarea {
  font-family: unset;
}

.hidder {
  display: none;
}

#segment {
  margin: 0;
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  font-size: 185%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
  background: #f9f9f9;
  position: relative;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 145%;
  padding: 1.5em 0;
  border-bottom: 1px solid #eee;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: #00c555;
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(133, 133, 133);
  font-size: 90%;
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

.calendar .body .cell {
  position: relative;
  height: 8.5em;
  border-right: 1px solid #eee;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: #f9f9f9;
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #038624 0%, #86f37c 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid #eee;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 120%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: #ccc;
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 29, 12);
  opacity: 0;
  font-size: 7.5em;
  position: absolute;
  top: 0.3em;
  right: -0.07em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
